.gallery {
  padding: 8rem 0;
  background: var(--color-bg-container);
}

.galleryGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  max-width: 87rem;
  margin: 0 auto;
}

.galleryItem {
  /* 5 columns with 0.5rem gap */
  width: calc((100% - 4 * 0.5rem) / 5);
  aspect-ratio: 218.67 / 312;
  position: relative;
  overflow: hidden;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 48.0625rem) {
  .gallery {
    padding: 8rem 1.5rem;
  }

  .galleryGrid {
    gap: 1.5rem;
  }

  .galleryItem {
    /* 6 columns with 1.5rem gap */
    width: calc((100% - 5 * 1.5rem) / 6);
  }
}
