.homepage {
  min-height: 100vh;
  background: var(--color-bg-container);
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.contentContainer {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media (max-width: 48rem) {
  .contentContainer {
    max-width: 100%;
    padding: 0;
  }
}

@media (min-width: 48.0625rem) {
  .contentContainer {
    padding: 0 1.5rem;
  }
}
